# sbt
bin/
target/
**/target
build/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# VS Code
.vscode/*
.metals/*

# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache
.cache-main

# Scala
*.class
*.log
